<h1>Trait Type #<%= @trait_type.id %></h1>

<p>
  <b>Name:</b>
  <%= @trait_type.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @trait_type.image_url %>
</p>

<p>
  <b>Description:</b>
  <%= @trait_type.description %>
</p>


