.clearfix {
clear: both;
}

#navbar-right {
  float: right;
  height: 42px;
  padding: 0px 50px 0px 0px;
}

body {
  padding: 80px 0 0 0;
}

.left-col {
  width: 400px;
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0px 20px;
}

.left-col h1 {
  text-align: center;
}

.right-col {
  width: 480px;
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0px 20px 0px 0px;
}

.right-col h1 {
  text-align: center;
}

.right-col h5 {
  text-align: center;
}

.right-col h4 {
  text-align: center;
}

.hero-unit {
padding: 10px;
margin-bottom: 30px;
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #f5f5f5;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.button-header {
  padding: 28px;
  width: 560px;
  height: 44px;
}

.edit-button {
  width: 32px;
  height: 32px;
}

.guest_post_container {
  padding: 100px 20px 20px 20px;
  width: 940px;
}

.button-align {
  padding: 20px 0px 0px 0px;
}

.right {
  float: right;
}

.edit-button {
  height: 32px;
  width: 32px;
}

.quote-icon {
  height: 32px;
  width: 32px;
}

.right-col .img-circle {
  width: 200px;
  height: 200px;
}

.index-img-circle{
  width: 200px;
  height: 200px;
}

.avatar {
  height: 100px;
  width: 100px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 46%;
  margin-top: -50px;
  margin-left: -100px;
}
