<!DOCTYPE html>
<html>
<head>
  <title>Beyondlife</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="/">BeyondLife</a>
      <ul class="nav">

      </ul>
      <div id="navbar-right">
        <ul class="nav">
          <% if session[:user_id] %>
            <li><a href="/sign_out">Sign Out</a></li>
          <% else %>
            <li><a href="/sign_in">Sign In via Facebook</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
